@charset "utf-8";
/* CSS Document */

label {width:135px;text-align:right;padding-right:15px;}
input, select, textarea {margin-left:12px;}
input.input-text , select, textarea {width:175px !important;}
.fields {text-align:left;}
.form-results {float:right;margin: 9px 8px 0 0;}
.form-preamble, .form-postamble {margin:17px 0 17px 0;}
.form-list li {margin: 0 0 4px 0;}
.fieldset {border:none;margin:0 0 0 0;padding:0 0 0 0;}
table {margin-left:auto;margin-right:auto;}
.buttons-set {margin:0 0 0 0;padding:0 0 0 0;}
.buttons-set button.button {float:left;margin:0 0 0 165px;}