@charset "utf-8";
/* CSS Document */

body {
	font: 75%/150% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #c09700;
}

a:visited {
	color: #c09700;
}

a:hover {
	color: #000;
}

.header-container {
	background-image: url(../images/wrapper-images/MIC-demo/header-gray-vd.png);
}

.header-container2 {
	background: url(../images/wrapper-images/MIC-demo/top-bg-plus.png) center 0 no-repeat;
}

.header {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 126px;
	position: relative;
}

.header-top {
	height: 40px;
}

.header-mid {
	height: 86px;
}

.header-mid a.logo {
	position: absolute;
	top: 38px;
	left: -33px;
	float: none;
	text-decoration: none;
	margin: 0;
	max-width: 215px;
	height: 85px;
	padding-top: 1px;
}

.nav {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	height: 51px;
}

.navbar-bg {
	background-image: url(../images/wrapper-images/MIC-demo/navbar-gray-l.png);
}

.navbar-left {
	background-position: 0 -51px;
	width: 8px;
	height: 51px;
	float: left;
}

.navbar {
	background-position: top left;
	background-repeat: repeat-x;
	float: left;
	width: 944px;
	height: 41px;
	padding-top: 10px;
}

.navbar-right {
	background-position: 100% -51px;
	width: 8px;
	height: 51px;
	float: left;
}

.header-text {
	width:400px;
	color: #333;
	margin: 6px 0 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	float:left;
}

.show-home-img {
	width: 40px;
	height: 41px;
	padding: 0;
	background: url(../images/wrapper-images/MIC-demo/pix.png) 0 -335px no-repeat;
	text-indent: -9999px;
	overflow: hidden;
	float: left;
	border: none;
	text-decoration: none;
	text-align: left;
	list-style: none;
}

.show-home-img:hover {
	background-position: -46px -335px;
}

.nav-home-link {
	height: 41px;
	display: inline-block;
	list-style: none;
	float: left;
	text-align: left;
}

.footer-container {
	margin: 0 auto;
	padding: 0;
	background: url(../images/wrapper-images/MIC-demo/footer-gray-vd.png);
	height: 154px;
}

.footer {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.footer-text {
	font-size: 11px;
	float: left;
	width: 505px;
	margin: 86px 15px 0 0;
	line-height: 15px;
	text-align: left;
	color: #555;
	line-height: 15px;
}

.content-container {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

.content {
	margin: 20px 8px 20px 8px;
}

.form-search {
	float:right;
	color: #4b4b4b;
	padding: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-writing-mode: horizontal-tb;
	border-radius: 2px;
}

.input-text {
	padding:2px 4px 2px 4px;
	border: none;
	font-size: 11px;
	width: 200px;
	height: 19px;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
}

.input-text:hover {
	background-color: #eee;
}

.form-preamble {margin:0 0 20px 0;}
.form-bullet {margin:0 5px 0 0;}

.form-input {
	-webkit-border-radius:2px;
	border-radius:2px;
	font: 12px Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}
.form-pair {width:500px;border:2px solid #555;}
.form-label {text-align:right;margin:0 20px 0 0;width:50%;border:2px solid #ff0000;}
.form-field {float:right;width:50%;border:2px solid #ff0000;}

.form-text:hover, .form-select:hover, .form-textarea:hover {border: 1px solid #ccc;}
.form-text {
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.form-select
.form-textarea
.form-checkbox
.form-button

.fieldset {
border: 15px solid #eee;
margin: 25px 0 20px;
padding: 30px 20px 20px;
}

.legend {
background-color: #fff;
float: left;
font-size: 14px;
margin: -47px 0 0 1px;
padding: 0 15px;
}