html, body {
    height: 100%;
}
body {
    background: #333;
    color: white;
    font-family: Arial;
    font-size: 11px;
    overflow: visible;
}
#loginContainer {
    margin-top: 20%;
}
#loginContainer > form > div {
    text-align: right;
    width: 300px;
    margin: 10px auto;
}
#loginContainer > form > div > div {
    display: inline-block;
}
#menu_toggle_btn {
    margin: 10px;
    float: right;
}
.kml_menu_toggle_btn {
    margin: 0 0 10px;
}
.form-control {
    padding: 3px 6px;
}
.owner_field .form-control,
.segment_field .form-control,
.div_field .form-control,
.origin_field .form-control,
.preset_field .form-control,
.category_field .form-control,
.reason_field .form-control,
.status_field .form-control,
.referrer_field .form-control{
    width: 400px;
}
.map_field .form-control,
.region_field .form-control,
.country_field .form-control,
.state_field .form-control{
    width: 315px;
    text-indent: 113px;
}
#modal .input-group-addon {
    width: 160px;
}
#modal .panel {
    margin: 10px;
}
#advanced, #basic, #opportunities {
    font-size: 14px;
    font-weight: bold;
}
.invalid_login {
    text-align: center;
    color: red;
}
#logged_in {
    display: none;
    position: relative;
    float: right;
    margin: 13px;
}
#logged_in > div {
    display: inline-block;
}
#state_buttons {
    display: inline-block;
    margin: 5px 20px;
}
#state_buttons .dropdown-menu {
    right: 0;
    left: inherit;
}
.selected_button {
    border-color: #66AFE9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
#logo {
    background : url('../images/logo.png');
    height: 75px;
    width: 100px;
    float: left;
}
#logo.microsurvey {
    background : url('../images/logo_microsurvey.png');
    background-size: cover;
    width: 200px;
    height: 50px;
    margin-top: 5px;
}
#logo.leica-geosystems {
    background : url('../images/logo.png');
    width: 100px;
    height: 75px;
}
#tag {
    font-weight: 100;
    margin: 25px 0 0 0;
    float: left;
}
#menuContainer form, #kmlMenuContainer form, #importMenuContainer form {
    position: relative;
    width: 400px;
}
#dataTablesContainer, #dataTablesContainer > div, #importContainer {
    position: relative;
    height: 100%;
    width: 100%;
}
div.ui-datepicker{
    font-size:10px;
}
.dateRange,
.date_field,
.origin_field ,
.owner_field,
.segment_field,
.owner_field,
.div_field,
.preset_field,
.region_field,
.country_field,
.state_field,
.category_field,
.reason_field,
.status_field,
.map_field,
.kml_preset_field,
.form_field,
.division_field,
.ct_field,
.referrer_field{
    margin: 20px 10px;
}
.date_field .form-control {
    width: 315px;
}
.edit_button_column {
    text-align: center;
    width: 110px;
}
.edit_button_column button {
    width: 45px;
    margin: 0 5px;
}
.owner_column select{
    color: black;
}
#menuContainer form label, #kmlMenuContainer form label, #importMenuContainer form label {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 60px;
}
#modal form label {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100px;
}
.dateRange h4 {
    margin: 0;
}
.dateRange .from {
    display: inline-block;
    margin: 0 10px 0 0;
}
.dateRange .to {
    display: inline-block;
    margin: 0 0 0 10px;
}
#menuContainer form .to label, #kmlMenuContainer form .to label {
    width: 45px;
}
.dateRange input {
    width: 100px;
}
.inputDiv {
    display: inline-block;
}
.clear {
    clear: both;
    float: none;
    display: block;
}
/*
.form_owner label {
    width: 50px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}
.form_owner div {
    display: inline-block;
}
*/
.form_owner select {
    width: 300px;
    margin-right: 15px;
}
.seg_div {
    float: left;
    margin: 5px 10px;
}
.seg_div label {
    width: 50px;
    display: inline-block;
    margin-right: 5px;
}
#owner_field, #div_field {
    display: inline-block;
}
#menu_submit, #kml_menu_submit, #import_menu_submit, #import_menu_cancel {
    position: relative;
    width: 95%;
    margin: 0 2.5% 20px;
}
#additionalFilters {
    margin: 10px 0;
    overflow: hidden;
}
#menuContainer, #kmlMenuContainer, #importMenuContainer {
    margin: 0;
    padding: 10px 0 0 0;
    position: absolute;
    display:none;
    left:-400px;
    z-index: 99;
    /*
    background: #222;
    -webkit-box-shadow: 0px 2px 4px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 2px 4px rgba(255,255,255,.5);
    box-shadow: 0px 2px 4px rgba(255,255,255,.5);
    */
}
#menuContainer.menu_active, #kmlMenuContainer.menu_active, #importMenuContainer.menu_active {
    display: block;
}
#menuContainer .nav-tabs {
    border-bottom: 1px solid #666;
}
.buttonWidth {
    width: 315px;
}
#theContentContainer {
    height: 100%;
    width: 100%;
    display: table;
    padding: 80px 5px 5px;
    position: relative;
}
#dataTables_wrapper {
    margin-top: 40px;
}
#dataTables_info {
    font-size: 17px;
    margin: 0 5px;
    position: absolute;
    top: -45px;
    left: 40px;
}
div.DTTT_container {
    position: absolute;
    top: -35px;
    right: 0px;
}
.menu_toggle_btn {
    position: absolute;
    z-index: 99;
    top: -40px;
}
.dataTable thead {
    background: #333;
}
.dataTable tr td > div {
    /* width: 100%; */
}
.middle-view {
    display: none;
}
.active-view {
    display: block;
}
#state_btn {
    width: 110px;
}
.myAlert {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    text-align: center;
    border-radius: 0px;
    display: none;
    padding: 20px;
}
#notification_btn {
    position: relative;
}
#nexusBadge {
    position: absolute;
    right: -15px;
    top: -7px;
}
.notif_no {
    padding: 0 10px 0 20px;
    background: url("../images/x.gif") no-repeat;
    background-size: 10px 10px;
    background-position: 6px 3px;

}
.notif_yes {
    padding: 0 10px 0 20px;
    background: url("../images/checkmark.gif") no-repeat;
    background-size: 10px 10px;
    background-position: 6px 3px;
}
#loadingOverlay {
    position: relative;
    top: 25px;
    left: 25px;
    /* height: 100%; */
    /* width: 100%; */
    /* z-index: 9999; */
    text-align: center;
    background: url(../images/ajax-loader.gif) no-repeat;
    background-position: 50% 50%;
}
#loadingOverlay div {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* height: 30%; */
    /* width: 50%; */
    margin: -2% 0 0 -25%;
}
.blurred {
    opacity: 0.5;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.td_3 {
    text-align: center;
}
#headerContainer {
    display: block;
    height: 75px;
    width: 100%;
    background: #222;
    z-index: 100;
    position: fixed;
    -webkit-box-shadow: 0px 0px 4px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 0px 4px rgba(255,255,255,.5);
    box-shadow: 0px 0px 4px rgba(255,255,255,.5);
}
#modal {
    color: #111111;
}
#dashboardContainer {

}

#dashboardContainer > div {
    display: inline-block;
}
.highcharts_container {
    margin: 10px 10px;
}
#mainContainer {
    height: 100%;
    width: 100%;
    display: table;
}
#contentContainer {
    display: none;
    position: relative;
    width: 100%;
}
#liveStreamContainer {
    max-height: 300px;
    display: none;
}
#dataTables{
}
#dataTables tbody tr.even:hover td, #dataTables tbody tr.even td.highlighted td, #dataTablesLive tbody tr.even:hover td, #dataTablesLive tbody tr.even td.highlighted td{
    background-color: #fff;
    color: #333;
}

#dataTables tbody tr.odd:hover td, #dataTables tbody tr.odd td.highlighted td, #dataTablesLive tbody tr.odd:hover td, #dataTables tbody tr.odd td.highlighted td{
    background-color: #fff;
    color: #333;
}

#dataTables tr.even:hover td, #dataTablesLive tr.even:hover td {
    background-color: #fff;
    color: #333;
}
#dataTables tr.odd:hover td, #dataTablesLive tr.odd:hover td {
    background-color: #fff;
    color: #333;
}
#dataTables tr.even:hover td.sorting_1, #dataTablesLive tr.even:hover td.sorting_1 {
    background-color: #fff;
    color: #333;
}

#dataTables tr.even:hover td.sorting_2, #dataTablesLive tr.even:hover td.sorting_2 {
    background-color: #fff;
    color: #333;
}

#dataTables tr.even:hover td.sorting_3, #dataTablesLive tr.even:hover td.sorting_3 {
    background-color: #fff;
    color: #333;
}
#dataTables tr.odd:hover td.sorting_1, #dataTablesLive tr.odd:hover td.sorting_1 {
    background-color: #fff;
    color: #333;
}

#dataTables tr.odd:hover td.sorting_2, #dataTablesLive tr.odd:hover td.sorting_2 {
    background-color: #fff;
    color: #333;
}

#dataTables tr.odd:hover td.sorting_3, #dataTablesLive tr.odd:hover td.sorting_3 {
    background-color: #fff;
    color: #333;
}
#dataTables tbody tr.selected-row td, #dataTablesLive tbody tr.selected-row td {
    background-color: #fff;
    color: #333;
}
.id_column, .date_submitted_column, .owner_column, .notifications_column, .status_column {
    background-color: #345;
}
.company_column, .first_name_column, .last_name_column, .country_column, .state_column, .email_column, .respond_email_column {
    background-color: #222;
}
.form_column, .origin_column, .preset_column, .segment_column, .division_column, .crm_enabled_column, .channel_tactic_column {
    background-color: #321;
}
.status_column select {
    width: 125px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: black !important;
    border: 1px solid #DDDDDD;
    background-color: #DADADA;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
    background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111111 100%);
    background: linear-gradient(to bottom, #DADADA 0%, #CACACA 100%);
}
#kmliframe, #kmliframe body {
    overflow: hidden;
    border: none;
}
.multiselect-container {
    width: 315px;
    padding: 5px 5px;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    color: #555;
    vertical-align: bottom;
    border-bottom: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
}
.daterangepicker td.off {
    color: #999;
}
#menuContainer form .multiselect-container li, #kmlMenuContainer form .multiselect-container li, #importContainer form .multiselect-container li {
    margin: 0 0 0 0px;
}
#menuContainer form .multiselect-container li a, #kmlMenuContainer form .multiselect-container li a, #importMenuContainer form .multiselect-container li a {
    white-space: normal;
    padding: 3px 0px 3px 20px;
}
#menuContainer form .multiselect-container label, #kmlMenuContainer form .multiselect-container label, #importMenuContainer form .multiselect-container label, #theContentContainer .multiselect-container label {
    font-weight: normal;
    width: 100%;
}
.multiselect.dropdown-toggle.btn {
    padding: 6px 3px;
}
#controls { padding: 10px; height: 30px; font-family: arial;}
#controls select { margin: 0 10px 0 3px; }
#loading { margin-left:20px; font-size: 18px; }
#nexus_map { height: 100%; min-height: 600px; }
.content { color: #262626; }
.title { margin: 3px 0; }

#notificationContainer {
    display: none;
    position: absolute;
    top: 75px;
    background: rgba(0,0,0, 0.8);
    height: 400px;
    padding: 20px 10%;
    width: 100%;
    z-index: 101;
}

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    padding:30px;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../images/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    /*
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
    */
}

#upload ul li{

    /*
    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    */
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}
#upload ul li div.message {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 40%;
}
#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}
#upload ul li.error span{
    background-position: 0 -12px;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p, #upload ul li.error div{
    color:red;
}

#upload ul li.success p, #upload ul li.success div{
    color:#23BF77;
}

#importDatatablesTable_wrapper {
    margin-top: 10px;
}
#importDatatablesTable tr td > div {
    overflow-y: auto;
    width: 100%;
    height: 50px;
}
.commit_row_btn[disabled]
{
    opacity: 1 !important;
}
/*
.form_import select, .owner_import select, .preset_import select, .ct_import select {
    width: 150px;
}
*/
.effective_value{
    margin-left: 20px;
}
.Comments_import {
    /* width: 30% !important; */
}
.form_import, .owner_import, .preset_import, .ct_import {
    min-width: 125px;
}

.logout_link {
    margin-left: 10px;
}